name: AmREX Mini-App Unit Tests

# See the following link for more information on the NCAR HPC development containers:
# https://hub.docker.com/u/ncarcisl

on:
  workflow_dispatch:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:

  run-matrix:
    strategy:
      fail-fast: false
      matrix:
        #compiler: [ nvhpc, oneapi, gcc14, clang ]
        compiler: [ oneapi, gcc14, clang ] 
        mpi:      [ openmpi, mpich ]
        gpu:      [ nogpu ]
        arch:     [ x86_64 ]
        runner:   [ gha-runner-turbo ]
        include:
          - mpi: openmpi
            extra_mpiexec_args: '--allow-run-as-root'

        exclude:
          # skip nvhpc/openmpi until CPU architecture mismatch gets resolved
          - compiler: nvhpc
            mpi: openmpi


    name: Build
    runs-on: ${{ matrix.runner }}
    defaults:
      run:
        shell: bash -elo pipefail {0}

    container:
      image: ncarcisl/cisldev-${{ matrix.arch }}-almalinux9-${{ matrix.compiler }}-${{ matrix.mpi }}${{ matrix.gpu == 'cuda' && '-cuda' || '' }}

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'
          fetch-depth: 0

      - name: Interrogate Runtime Environment
        run: |
          cat /container/config_env.sh
          lscpu
          echo && echo && echo
          echo '----------------------------------------------------------------'
          echo && echo && echo
          echo "CC=${CC}"
          echo "CXX=${CXX}"
          echo "FC=${FC}"
          echo "F77=${F77}"
          echo
          echo "CFLAGS=${CFLAGS}"
          echo "CPPFLAGS=${CPPFLAGS}"
          echo "CXXFLAGS=${CXXFLAGS}"
          echo "FCFLAGS=${FCFLAGS}"
          echo "F77FLAGS=${F77FLAGS}"
          export CC CXX FC F77 CFLAGS CXXFLAGS FCFLAGS F77FLAGS CPPFLAGS
          conda --version 2>/dev/null || echo " --> no conda in this container"
          which mpicc
          mpicc --version 2>/dev/null || true

      - name: Install prerequisite utilities for spack
        run: |
          dnf install -y epel-release
          dnf install -y file bzip2 ca-certificates git gzip patch python3 tar unzip xz zstd gcc gcc-c++ gcc-gfortran

      - name: Install spack
        run: |
          echo "Building spack:"
          git clone --depth=2 https://github.com/spack/spack.git
          . spack/share/spack/setup-env.sh
          spack compiler find
          spack compiler list
          spack spec zlib # Just to test that spack is working. 

      #- name: Install turbo mini-app dependencies in a spack environment
      #  run: |
      #    . spack/share/spack/setup-env.sh

      #    echo "Building turbo spack environment:"

      - name: Build and run amrex mini-app
        run: |


          . spack/share/spack/setup-env.sh

          export TURBO_STACK_ROOT=$(pwd)
          export DEBUG=1
          export DOXYGEN=1

          mini_app_root=${TURBO_STACK_ROOT}/src/amrex_mini_app

          . ${mini_app_root}/ncar_container_environment_variable_standardization.sh

          . ${mini_app_root}/create_spack_environment.sh

          spack env activate $SPACK_ENVIRONMENT_NAME

          ${mini_app_root}/build_and_run.sh
