name: AMReX Mini-App Unit Tests

# See the following link for more information on the NCAR HPC development containers:
# https://hub.docker.com/u/ncarcisl

on:
  workflow_dispatch:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:

  run-matrix:
    strategy:
      fail-fast: false
      matrix:
        #compiler: [ nvhpc, oneapi, gcc14, clang ]
        compiler: [ oneapi, gcc14, clang ] 
        mpi:      [ openmpi, mpich ]
        gpu:      [ nogpu ]
        arch:     [ x86_64 ]
        runner:   [ gha-runner-turbo ]
        include:
          - mpi: openmpi
            extra_mpiexec_args: '--allow-run-as-root'

        exclude:
          # skip nvhpc/openmpi until CPU architecture mismatch gets resolved
          - compiler: nvhpc
            mpi: openmpi


    name: Build
    runs-on: ${{ matrix.runner }}
    defaults:
      run:
        shell: bash -elo pipefail {0}

    container:
      image: ncarcisl/cisldev-${{ matrix.arch }}-almalinux9-${{ matrix.compiler }}-${{ matrix.mpi }}${{ matrix.gpu == 'cuda' && '-cuda' || '' }}

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'
          fetch-depth: 0

      - name: Interrogate Runtime Environment
        run: |
          cat /container/config_env.sh
          lscpu
          echo && echo && echo
          echo '----------------------------------------------------------------'
          echo && echo && echo
          echo "CC=${CC}"
          echo "CXX=${CXX}"
          echo "FC=${FC}"
          echo "F77=${F77}"
          echo
          echo "CFLAGS=${CFLAGS}"
          echo "CPPFLAGS=${CPPFLAGS}"
          echo "CXXFLAGS=${CXXFLAGS}"
          echo "FCFLAGS=${FCFLAGS}"
          echo "F77FLAGS=${F77FLAGS}"
          export CC CXX FC F77 CFLAGS CXXFLAGS FCFLAGS F77FLAGS CPPFLAGS
          conda --version 2>/dev/null || echo " --> no conda in this container"
          which mpicc
          mpicc --version 2>/dev/null || true

      - name: Modify default CI container environment
        run: |

          # Directory where you pulled the turbo stack repository
          export TURBO_STACK_ROOT="${GITHUB_WORKSPACE}"
          echo "TURBO_STACK_ROOT=${TURBO_STACK_ROOT}" >> $GITHUB_ENV

          # Path to the turbo mini-app that should be within the turbo stack repository
          export TURBO_MINI_APP_ROOT=${TURBO_STACK_ROOT}/src/amrex_mini_app
          echo "TURBO_MINI_APP_ROOT=${TURBO_STACK_ROOT}/src/amrex_mini_app" >> $GITHUB_ENV
          if [ ! -d "${TURBO_MINI_APP_ROOT}" ]; then
            echo "Error: TURBO_MINI_APP_ROOT=${TURBO_MINI_APP_ROOT} is not a valid directory."
            exit 1
          fi

          # Sets a bunch of environment variables for compiler name and version, MPI name and version, etc...
          . ${TURBO_MINI_APP_ROOT}/ncar_container_environment_variable_standardization.sh

          # To control build and runtime behavior later
          export DEBUG=1
          echo "DEBUG=${DEBUG}" >> $GITHUB_ENV


      - name: Install prerequisite utilities for spack
        run: |
          dnf install -y epel-release
          dnf install -y file bzip2 ca-certificates git gzip patch python3 tar unzip xz zstd gcc gcc-c++ gcc-gfortran

      - name: Install spack
        run: |
          echo "Building spack:"
          git clone --depth=2 https://github.com/spack/spack.git
          . spack/share/spack/setup-env.sh
          spack compiler find
          spack compiler list
          spack spec zlib # Just to test that spack is working. 

      - name: Install turbo mini-app dependencies in a spack environment
        run: |

          . spack/share/spack/setup-env.sh

          unset SPACK_ENVIRONMENT_NAME

          . ${TURBO_MINI_APP_ROOT}/create_spack_environment.sh

          if [ -z "$SPACK_ENVIRONMENT_NAME" ]; then
            echo "Error: SPACK_ENVIRONMENT_NAME is not set."
            exit 1
          fi

          echo "SPACK_ENVIRONMENT_NAME=${SPACK_ENVIRONMENT_NAME}" >> $GITHUB_ENV

      - name: Build and run turbo amrex mini-app
        run: |

          . spack/share/spack/setup-env.sh

          spack env activate $SPACK_ENVIRONMENT_NAME

          ${TURBO_MINI_APP_ROOT}/build_and_run.sh